<network xmlns:dnsmasq='http://libvirt.org/schemas/network/dnsmasq/1.0'>
  <name>{{ virt_net_name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='{{ virt_net_name }}' stp='on' delay='0'/>
  <domain name='{{ virt_net_domain }}' localOnly='yes'/>
  <dns>
    <txt name='example' value='{{ virt_net_name|upper }} Domain'/>
  </dns>
  <ip family='ipv4' address='{{ new_net + ".1" }}' prefix='24'>
    <dhcp>
      <range start='{{ new_net + ".2" }}' end='{{ new_net + ".254" }}'/>
    </dhcp>
  </ip>
  <dnsmasq:options>
  </dnsmasq:options>
</network>
