keyfile /etc/chrony/chrony.keys
driftfile /var/lib/chrony/chrony.drift
logdir /var/log/chrony
maxupdateskew 100.0
rtcsync
makestep 1 3

bindaddress {{ net_gw }}
local stratum 8
manual
allow {{ net_gw | regex_search("^(([0-9]{1,3}\\.){3}).*","\\1") }}0/24
